@import "tailwindcss";
@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-fredericka: "Fredericka the Great", cursive;
}
.slick-slide {
 padding: 0 6px;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}
